/* App */
body {
  background: #eee;
  font: 12px/1.5 menlo;
}


/* Components */
.files {
  width: 100%;
  border-collapse: collapse;
}

.files th,
.files td {
  padding: .25em 1em;
}

.files th {
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.files td {
  border-top: 1px solid #ddd;
  background: #fff;
}


/* Containers */
